* {
    box-sizing: border-box;
}

html {
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 72px;
    text-align: center;
}

h2 {
    font-size: 48px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-link {
    font-size: 36px;
    list-style-type: none;
    text-align: center;
}

.main-title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}